<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <link rel="stylesheet" href="/css/index.css" />

    <!--External Library-->
    <script src="/js/Extern/jquery.min.js"></script>
    <script src="/js/Extern/three.min.js"></script>
    <script src="/js/Extern/Long.min.js"></script>
    <script src="/js/Extern/ByteBufferAB.min.js"></script>
    <script src="/js/Extern/ProtoBuf.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <!--Game source-->
    <script src="/js/Util/math.js"></script>

    <script src="/js/Controller/key.js"></script>
    <script src="/js/Controller/packet.js"></script>
    <script src="/js/Controller/game.js"></script>
    <script src="/js/Controller/scene.js"></script>

    <script src="/js/Logic/Field/fieldmap.js"></script>
    <script src="/js/Logic/Field/fieldobject.js"></script>
    <script src="/js/Logic/Field/fieldobjectfsm.js"></script>

    <script src="/js/main.js"></script>
</head>
<body>
</body>
</html>