<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <link rel="stylesheet" href="/css/index.css" />

    <script src="/js/Long.min.js"></script>
    <script src="/js/ByteBufferAB.min.js"></script>
    <script src="/js/ProtoBuf.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
        var ProtoBuf = dcodeIO.ProtoBuf;
        var msgBuilder = ProtoBuf.loadProtoFile("proto/Message.proto");
        var structBuilder = ProtoBuf.loadProtoFile("proto/Struct.proto");

        var Packet = msgBuilder.build("Packet");

        // Init message - struct dictionary
        var table = [];
        for (var msgName in Packet.Message) {
            var value = Packet.Message[msgName];
            table[value] = structBuilder.build(msgName);
        }

        var packet = { msg: "", data: "" };

        var LOGIN = structBuilder.build("LOGIN");
        var send = new LOGIN({ "id": "skyser2003", "pw": 4 });
        packet.msg = msgBuilder.build("Packet").Message.LOGIN;
        packet.data = send.toHex();

        socket.emit("packet", packet);

        socket.on("packet", function (data) {
            var msg = data.msg;
            var hex = data.data;

            var struct = table[msg];
            var decoded = struct.decodeHex(hex);

            console.log(decoded);
        });
    </script>
</head>
<body>
    <canvas id="canvas">Your browser doesn't support canvas~</canvas>
</body>
</html>